body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, #ffffff, #6cb1f7);
  }

  .card-fixed {
    width: 350px;
    position: fixed;
    top: 50;
    right: 0;
    background: rgb(83, 81, 197);
    border-radius: 10px;
  }

  .card-login {
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    left: 100px;
    background: linear-gradient(to top right, #a05f5f23, #72b5f8);
  }

  .password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .buttonseconnecter{
    width: 200px;
    height: auto;
    margin-left: 75px;
    border-radius: 10px;
  }

  .navbar-nav {
    margin-left: auto;
  }

  
/* 
  .contact-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  } */